*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, sans-serif;
background:#ececec;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
}

.container{
width:1150px;
max-width:100%;
background:white;
display:flex;
border-radius:20px;
overflow:hidden;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.left{
width:45%;
padding:45px;
background:white;
}

.logo{
font-size:32px;
font-weight:bold;
color:#4c4cd6;
margin-bottom:40px;
}

h1{
font-size:42px;
color:#222;
margin-bottom:10px;
}

.subtitle{
font-size:18px;
color:#777;
margin-bottom:30px;
}

label{
display:block;
margin-top:18px;
margin-bottom:6px;
font-weight:bold;
color:#444;
}

input,
textarea{
width:100%;
padding:15px;
border:1px solid #ccc;
border-radius:10px;
font-size:15px;
transition:0.3s;
}

textarea{
height:110px;
resize:none;
}

input:focus,
textarea:focus{
outline:none;
border-color:#4c4cd6;
}

.btn{
width:100%;
padding:16px;
margin-top:25px;
border:none;
border-radius:10px;
background:#4c4cd6;
color:white;
font-size:17px;
cursor:pointer;
transition:0.3s;
}

.btn:hover{
background:#3939b9;
}

.right{
width:55%;
background:
linear-gradient(
rgba(76,76,214,0.55),
rgba(76,76,214,0.55)
),

url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?q=80&w=1200');

background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
padding:50px;
}

.overlay{
max-width:420px;
color:white;
}

.overlay h2{
font-size:52px;
line-height:1.1;
margin-bottom:25px;
}

.overlay p{
font-size:22px;
line-height:1.5;
}

@media(max-width:950px){

.container{
flex-direction:column;
}

.left,
.right{
width:100%;
}

.right{
height:350px;
}

.overlay h2{
font-size:36px;
}

.overlay p{
font-size:18px;
}

}

@media(max-width:600px){

.left{
padding:25px;
}

.logo{
font-size:24px;
}

h1{
font-size:32px;
}

.subtitle{
font-size:16px;
}

.overlay h2{
font-size:30px;
}

}
